:root {
    --primary: #a4e6db;
    --secondary: #17b399;
    --tertiary: #4984b4;
    --light-dark: #624ba0;
    --dark: #1d333b;
    --border-radius: 12px;

    --margin-padding:10px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin:var(--margin-padding);
    padding: var(--margin-padding);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 18px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin: var(--margin-padding);
    color: var(--dark);
  }
  
  main {
    margin: var(--margin-padding);
  }

  .top-header{
    background-color: var(--secondary);
  }
  
  p {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
   .btn {
    font-size: 18px;
    text-decoration:none;
    padding:var(--margin-padding);
    width: 180px;
    display: block;
    margin: var(--margin-padding);
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 4px 4px var(--dark);
    transform: translate(-1px, -1px);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
   .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 4px 4px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 4px 4px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: var(--margin-padding);
    padding: var(--margin-padding);
    text-decoration: none;
    font-size: 18px;
  }
  
   .btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 4px 4px var(--dark);
  }
  
  .hero {
    padding: var(--margin-padding);
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .app-title {
    font-size: 28px;
    background-color: var(--primary);
    color: var(--dark);
    padding: var(--margin-padding);
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 4px 4px var(--light-dark);
  }
  
  .list-group {
    padding: var(--margin-padding);
    list-style: none;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: var(--margin-padding);
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--secondary);
  }
  
  .status-icon {
    padding: var(--margin-padding);
    margin: var(--margin-padding);
    background-color:var(--secondary);
    border-radius: var(--border-radius);
  }
  
  .icon-danger {
    color: rgb(175, 19, 19);
  }
  
  .icon-success {
    color: rgb(19, 146, 62);
  }
  

  .Search-box {
    margin:var(--margin-padding);
    border: 2px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .suggestion-box {
    margin:var(--margin-padding);
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    width: 300px;

  }

  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: var(--margin-padding);
    border-radius: var(--border-radius);
  }
  
  .box {
    padding: 2.5%;
    width: 180px;
  }
  
  /* FORM */
  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  
  .form-label {
    
    font-size: 18px;
    margin: var(--margin-padding);
    color: var(--dark);
  }
  
  .form-input {
    width: 250px;
    padding: var(--margin-padding);
    font-size: 18px;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }
  
  /* HEIGHT / WIDTH UTILS */
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  /* FLEX CONTENT */
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }

  /*---------------------------------------------------------*/

  .recent-searches {
    font-size: 15px;
    text-decoration:none;
    padding:var(--margin-padding);
    width: 250px;
    display: block;
    margin: var(--margin-padding);
    border-radius: 5px;
    color: var(--primary);
    border: solid 1px;
    outline: none;
    background-color: var(--light-dark);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }